
/* Contenedor de la tarjeta con grid */
.card-container {
    display: grid;
    grid-template-columns: 1fr; /* Una columna por defecto */
    gap: 2rem;
  
    @media (min-width: $max-width-tablet) {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas para tablets */
    }
  
    @media (min-width: $max-width-desktop) {
      grid-template-columns: repeat(3, 1fr); /* Tres columnas para escritorio */
    }
  }
  
  /* Estilos para las tarjetas */
  .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.05);
    }
  
    .card-img-top {
      width: 100%;
      height: auto; /* Mantiene la altura automática */
      object-fit: cover;
      min-height: 200px; /* Altura mínima */
      max-height: 250px; /* Altura máxima */
    }
  
    .card-title {
      font-size: 1.5rem;
      color:$color-principal;
    }
  
    .card-text {
      color: #6c757d;
    }
  
    .boton {
      border-radius: 15px;
      background-color:$button-color;
      padding: 10px $padding-mobile;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color:$color-secundario;
      }
    }
  }
  
  /* Estilos adicionales para la responsividad */
  @media (max-width: $max-width-mobile) {
    h2 {
      font-size: 1.75rem;
    }
    .card-title {
      font-size: 1.25rem;
    }
    .card-img-top {
      min-height: 150px; 
      max-height: 200px;
    }
  }
  
  @mixin responsive($device) {
    @if $device == mobile {
      @media (max-width: $max-width-mobile) { 
        @content;
      }
    } @else if $device == tablet {
      @media (min-width: $max-width-mobile) and (max-width: $max-width-tablet) { 
        @content;
      }
    } @else if $device == desktop {
      @media (min-width: $max-width-tablet) { 
        @content;
      }
    }
  }
  
  // Mixin para estilos de sectores
  @mixin sector-style($color, $hover-color) {
      background-color: $color;
      &:hover {
          background-color: $hover-color;
      }
  }