
// Detalle de Compra Page Styles
.detalleCompra {
    padding: $padding-mobile;
    h2, h3 {
        color: $text-color;
        margin-bottom: 1.5rem;
    }
    // Imagen del evento
    .evento-info {
        img {
            width: 100%;
            border-radius: 10px;
            box-shadow: box-shadow-dynamic(8px, 15px);
        }
        p {
            font-size: 1.25rem;
            color: $text-color;
        }
    }
    // Croquis del estadio
    .croquis {
        margin-top: 2rem;
        text-align: center;
  
        img {
            width: 100%;
            border-radius: 10px;
            box-shadow: box-shadow-dynamic(6px, 10px);
        }
    }
  
    // Lista de precios por sector
    .precios {
        ul.list-group {
            margin-top: 2rem;
  
            li {
                color: $text-color;
                padding: 1rem;
                font-size: 1.25rem;
                border-radius: 5px;
                margin-bottom: 10px;
                border: 1px solid $text-color;
                transition: background-color 0.3s ease;
            }
  
            // Estilos para cada sector utilizando el mixin
            .sector-preferida {
                @include sector-style(#f7e315, scale-color(#f7e315, $lightness: -10%));
            }
            .sector-central {
                @include sector-style(#e94598, scale-color(#e94598, $lightness: -10%));
            }
            .sector-platea {
                @include sector-style(#4cb9e3, scale-color(#4cb9e3, $lightness: -10%));
            }
            .sector-madero-baja {
                @include sector-style(#53b848, scale-color(#53b848, $lightness: -10%));
            }
            .sector-super-pullman {
                @include sector-style(#e9327d, scale-color(#e9327d, $lightness: -10%));
            }
            .sector-madero-alta {
                @include sector-style(#2a4b8d, scale-color(#2a4b8d, $lightness: -10%));
            }
            .sector-corrientes-alta {
                @include sector-style(#d63d30, scale-color(#d63d30, $lightness: -10%));
            }
            .sector-cabecera {
                @include sector-style(#f37c22, scale-color(#f37c22, $lightness: -10%));
            }
            
        }
    }
  
    // Media Queries utilizando el mixin
    @include responsive(tablet) {
        padding: $padding-tablet;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px; // Espacio entre columnas
        h2 {
            font-size: 2.5rem;
            grid-column: span 3; // El título abarca las tres columnas
        }
        h3 {
            font-size: 2rem;
        }
        .evento-info, .croquis, .precios {
            margin-top: 0;
            width: 100%;
        }
        .croquis img {
            width: 100%;
        }
    }
  
    @include responsive(desktop) {
        padding: $padding-desktop;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px; 
        h2 {
            font-size: 3rem;
            grid-column: span 3; 
        }
        h3 {
            font-size: 2.5rem;
        }
        .evento-info, .croquis, .precios {
            margin-top: 0;
            width: 100%;
        }
        .croquis img {
            width: 100%;
        }
    }
  }