@import "variables";
/* estilos del body */
body {
    background-color: $background-color;
  }
 /* estilos del header utilizando nesting */
  header {
    background-color: $color-principal;
    padding: 30px;
    text-align: center;
  
    nav {
      ul {
        list-style: none;
  
        li {
          display: inline;
          margin-left: 50px;
          padding: 15px;
  
          a {
            text-decoration: none;
            color: $text-color;
  
            &:hover {
              color: $color-secundario;
            }
          }
        }
      }
    }
  
    .logo {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 60px;
    }
  }
  
 /* estilos globales del sitio */
  main {
    h1, h2, p {
      text-align: center;
      color: $text-color;
      padding: 10px;
    }


p span {
  a {
    color: $color-red;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 2px solid $color-red;
    transition: all 0.3s ease;

    &:hover {
      animation: animar_enlace 0.5s forwards;
    }
  }
}

// Animación del enlace
@keyframes animar_enlace {
  0% {
    color: $color-red;
    border-bottom-color:  $color-red;
    transform: translateY(0);
  }
  50% {
    color: $color-tomato;
    transform: translateY(-5px);
    border-bottom-color: $color-tomato;
  }
  100% {
    color:$color-secundario;
    border-bottom-color: $color-secundario;
    transform: translateY(0);
  }
  }
}
 /* estilos del footer */
 footer {
    background-color: transparent;  // Deja que el degradado continúe hasta el final
    color:$text-color;
    padding: $padding-mobile;
    text-align: center;
    p {
      text-align: center;
      color: $text-color;
      padding: $padding-mobile;
      background-color: $color-principal;
    }
  }