
//colores RGB
$color-principal:#343434;
$color-secundario:#e39b02;


$background-color: #A2AAA9;

$button-color: #F6AB02;


//colores 
$color-red: red;
$color-tomato:tomato;
$text-color: whitesmoke;


//variables tamaños de pantallas
$padding-mobile: 20px;
$padding-tablet: 30px;
$padding-desktop: 40px;
$max-width-mobile: 600px;
$max-width-tablet: 800px;
$max-width-desktop: 1024px;