$background-color-card: #343434;
$background-color: #A2AAA9;
$text-color: whitesmoke;
$button-color: #F6AB02;
$button-hover-color: #e39b02;
$footer-background-color: #343434;
$color-tomato:tomato;
$link-color: whitesmoke;
$link-hover-color: #e39b02;
$border-color: #ccc;

$color-card:#6c757d;



//variables tamaños de pantallas
$padding-mobile: 20px;
$padding-tablet: 30px;
$padding-desktop: 40px;
$max-width-mobile: 600px;
$max-width-tablet: 800px;
$max-width-desktop: 1024px;